<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Plan</title>
    <style>
      /* Dark Mode Styles */
      .dark {
        background-color: #1f2937; /* Dark mode background color */
        color: #f3f4f6; /* Dark mode text color */
      }
      /* Positioning for Dark Mode Toggle */
      .dark-toggle {
        position: fixed;
        top: 20px; /* Adjust top margin as needed */
        right: 20px; /* Adjust right margin as needed */
      }
      .dot {
        transform: translateX(0%);
      }
      input:checked ~ .dot {
        transform: translateX(100%);
      }
    </style>
  </head>
  
  <body class="bg-gray-100 dark:bg-gray-900">
    <!-- Dark mode toggle -->
    <div class="dark-toggle">
      <label for="dark-toggle" class="flex items-center cursor-pointer">
        <div class="relative">
          <input type="checkbox" name="dark-mode" id="dark-toggle" class="checkbox hidden" />
          <div class="block border-[1px] dark:border-white border-gray-900 w-14 h-8 rounded-full"></div>
          <div class="dot absolute left-1 top-1 dark:bg-white bg-gray-800 w-6 h-6 rounded-full transition"></div>
        </div>
        <div class="ml-3 dark:text-white text-gray-900 font-medium">
          Dark Mode
        </div>
      </label>
    </div>

    <!-- Content -->
    <section class="container mx-auto p-4">
      <h1 class="text-4xl font-semibold mb-4 flex justify-center">
        Summer Body Workout Plan
      </h1>

      <!-- Day 1 -->
      <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-5">
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">
            Day 1: Full Body Strength Training
          </h2>
          <ul class="list-disc ml-6">
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Warm-up: 5-10 minutes of dynamic stretches or light cardio</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Barbell Squats: 4 sets x 8-10 reps</span>
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Dumbbell Bench Press: 4 sets x 8-10 reps</span>
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Bent-over Rows: 4 sets x 8-10 reps</span>
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Dumbbell Lunges: 3 sets x 10 reps per leg</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Dumbbell Shoulder Press: 3 sets x 10 reps</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Plank: 3 sets x 30-60 seconds</span>
            </li>
          </ul>
        </div>

        <!-- Day 2 -->
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">Day 2: Cardio and Core</h2>
          <ul class="list-disc ml-6">
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Warm-up: 5-10 minutes of light cardio</span>
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Cycling/Elliptical: 30 minutes of moderate intensity</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Russian Twists (with dumbbell or without): 3 sets x 15 reps
                each side</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Bicycle Crunches: 3 sets x 15 reps each side</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Plank with Leg Raises: 3 sets x 12 reps each leg</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Mountain Climbers: 3 sets x 20 reps each leg</span
              >
            </li>
          </ul>
        </div>

        <!-- Day 3 -->
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">
            Day 3: Rest or Active Recovery
          </h2>
          <ul class="list-disc ml-6">
            <li>
              <span class="ml-2"
                >Rest day or light activity such as walking or yoga</span
              >
            </li>
          </ul>
        </div>

        <!-- Day 4 -->
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">
            Day 4: Upper Body Strength Training
          </h2>
          <ul class="list-disc ml-6">
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Warm-up: 5-10 minutes of dynamic stretches or light cardio</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Barbell or Dumbbell Bench Press: 4 sets x 8-10 reps</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Dumbbell Bicep Curls: 3 sets x 10 reps</span>
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Tricep Dips (using chair or bench): 3 sets x 10 reps</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Plank: 3 sets x 30-60 seconds</span>
            </li>
          </ul>
        </div>

        <!-- Day 5 -->
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">
            Day 5: Lower Body and Cardio
          </h2>
          <ul class="list-disc ml-6">
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Warm-up: 5-10 minutes of light cardio</span>
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Deadlifts (with barbell or dumbbells): 4 sets x 8-10 reps</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Bulgarian Split Squats (with dumbbells): 3 sets x 10 reps per
                leg</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Leg Press (if available): 3 sets x 12 reps</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Cycling/Elliptical: 20 minutes of high-intensity intervals
                (alternate between 1 minute moderate and 1 minute high
                intensity)</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Jump Squats: 3 sets x 15 reps</span>
            </li>
          </ul>
        </div>

        <!-- Day 6 -->
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">
            Day 6: Active Recovery or Rest
          </h2>
          <ul class="list-disc ml-6">
            <li>
              <span class="ml-2"
                >Rest day or light activity such as swimming or hiking</span
              >
            </li>
          </ul>
        </div>

        <!-- Day 7 -->
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">Day 7: Full Body HIIT</h2>
          <li>
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-green-500"
            />
            <span class="ml-2"
              >Warm-up: 5-10 minutes of dynamic stretches or light cardio</span
            >
          </li>
          <p>
            <br />Circuit (perform each exercise back-to-back with minimal
            rest):
          </p>
          <ul class="list-disc ml-6">
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Push-ups: 3 sets x 12 reps</span>
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Bodyweight Squats or Jump Squats: 3 sets x 15 reps</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Mountain Climbers: 3 sets x 20 reps each leg</span
              >
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2">Burpees: 3 sets x 10 reps</span>
            </li>
            <li>
              <input
                type="checkbox"
                class="form-checkbox h-5 w-5 text-green-500"
              />
              <span class="ml-2"
                >Russian Twists: 3 sets x 15 reps each side</span
              >
            </li>
          </ul>
          <p class="mt-4">Cool down: 5-10 minutes of stretching</p>
        </div>

        <!-- Nutrition -->
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">Nutrition</h2>
          <p>
            Ensure you're consuming enough protein to support muscle growth and
            repair. Aim for 1.6-2.2 grams of protein per kilogram of body weight
            per day. Incorporate lean protein sources such as chicken, turkey,
            fish, tofu, beans, and of course, your protein powder. Also, focus
            on consuming complex carbohydrates, healthy fats, and plenty of
            fruits and vegetables to support your workouts and overall health.
          </p>
        </div>

        <!-- Hydration -->
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">Hydration</h2>
          <p>
            Stay hydrated by drinking plenty of water throughout the day,
            especially before, during, and after your workouts.
          </p>
        </div>

        <!-- Recovery -->
        <div
          class="shadow-md p-4 rounded-lg transition duration-300 ease-in-out transform hover:shadow-lg hover:scale-105"
        >
          <h2 class="text-xl font-semibold mb-2">Recovery</h2>
          <p>
            Make sure to get adequate rest and sleep to allow your muscles to
            recover and grow. Aim for 7-9 hours of quality sleep each night.
          </p>
        </div>
      </div>
    </section>

    <!-- Script -->
    <script is:inline>
      function darkModeListener() {
        document.querySelector("html").classList.toggle("dark");
      }

      document
        .querySelector("#dark-toggle")
        .addEventListener("click", darkModeListener);
    </script>
  </body>
</html>
